.login {
  color: #53616a;
  font-size: 26px;
  font-weight: 500;
}
.email-p {
  color: #53616a;
  font-size: 14px;
  opacity: 50%;
}
.label {
  color: #707986;
  font-size: 13px;
}
.login-button {
  background-color: #5e87b1;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
.input-type{
  background-color:#F3F5F7;
border-radius:3px;
font-size:16px;
color:#000;
border:1px solid #000;
}
